<div id="app">
    Welcome
</div>


<script>
    var home = new Vue({
    el:'#app',
    data:{
        territories:[]
    },
    created:function(){

    },
    methods:{
        getTerritories: async function(){

        }
    }
    })
</script>