<div id="app">
    Welcome

    <div v-for="i in territories">

    </div>
</div>


<script> 
    var home = new Vue({
    el:'#app',
    data:{
        territories:[]
    },
    created: async function(){
       
    },
    methods:{
        getTerritories: async function(){
           
        }
    }
    })
</script>